<div class="instytucje">
	<%= link_to "Rejestr Instytucji Szkoleniowych", "http://ris.praca.gov.pl/ris/index.ftl" %>
	<%= link_to "System Informacji Oświatowej", "http://www.cie.men.gov.pl/index.php/wyszukiwarka.html" %>
</div>