<div class="search studiawyzsze">
<%= form_tag studia_wyzsze_trainings_path, method: "get" do %>
<div id="studiawform">
<%= field_set_tag "Studia wyższe", id: "search" do %>
 <%= render "studia_search_form" %>
 <% end %>
 </div>
<% end %>  
</div>
<% if signed_in? or params[:commit] %>
<table class="studiawyzsze">
   <%= render "studia_table" %>
</table>
<% end %>
