<div class="search studiapodyplomowe">
<%= form_tag studia_podyplomowe_trainings_path, method: "get" do %>
<div id="studiapform">
<%= field_set_tag "Studia podyplomowe" do %>
 <%= render "studia_search_form" %>
<% end %>
</div>
<% end %>
</div>
<% if signed_in? or params[:commit] %>
<table class="studiapodyplomowe">
   <%= render "studia_table" %>
</table>
 <% end %>
