<div id='clearance' class='sign-in'>
  <p style="text-align: center; margin-left: 250px; width: 500px; left: 50%; right: 50%; font-size: large; background: #d3d3d3; padding: 20px;">
    Aby skorzystać z zasobów Bazy danych o usługach edukacyjnych musisz być uczestnikiem projektu „Azymut – nowe kwalifikacje w Łomży”
  </p>
  <h2>Logowanie</h2>

  <%= render :partial => '/sessions/form' %>

</div>
