/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
kolory dla szkoleń
83BA00
759C1A
648F00
9DD122
A5D13E

kolory dla studiów wyższych
FFDD00
D5BD23
C4AA00
FFE22A
FFE74C
*/

table td a:visited {
	color: #000;
}

table.szkolenia .odd {
 	background: #A5D13E;
}

table.szkolenia .even {
 	background: #83BA00;
}



table.szkolenia {
	border: 1px solid #648F00;
    table-layout: fixed;
    border-spacing: 0;
    margin-top: 10px;
}

table.szkolenia thead {
	background-color: #648F00;
	color: #fff;
	border-color: #9DD122!important;
}

table.szkolenie th,	 td {	
	width: 200px;
}
table.szkolenia td {	
	border: 1px solid #648F00;	
}

table.szkolenie th {
	border: 1px solid #648F00;	
}



.szkolenie {
	background: #9DD122;
	color: #111;
	padding: 5px 5px;
	width: 800px;
	border: 1px solid #222;
	margin: 8px auto;
}

.szkolenie > ul > li { 
	list-style: none;
	float: left;
}

.szkolenie > ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	font: 20px Verdana;
	color: #FFF;
	background: #3a670f;
}


.szkolenie > ul.idTabs a:hover {
	color: #FFF;
	background: #2a3c18;
}

.szkolenie > ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: #f2ffe5;
	border-bottom: 1px solid #f2ffe5;
	cursor: default;
}

.szkolenie div {
	padding: 10px 10px 8px 10px;
	*padding-top: 3px;
	*margin-top: -15px;
	clear: left;
	background: #f2ffe5;
}


.szkolenie div a:hover {
	color: #111;
	background-color: #9DD122;
	font-weight: bold;
}

.szkolenie div a {
	color: #000;
	font-weight: bold;
}

h1.szkolenie_green {
	color: #648F00;
}

form fieldset legend {
	font-size: 2em;
	font-weight: bold;
}

form {
	font:100% verdana,arial,sans-serif;
	margin: 0;
	padding: 0;
	min-width: 800px;
	width: 560px; 
}

form fieldset {
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
	margin: 0;
}

form #szkolenieform fieldset {
	border-color: #648F00;
}

form #szkolenieform fieldset legend {
	color: #648F00;
}

form label { 
	display: inline-block; 
	float: left; 	
	padding: 5px 0 5px 0;
	width: 150px;
	text-align: right; 
}

#nav {
	display: block;
	float: left;
	width: 200px;
	position: fixed;
	overflow-y: auto;
}

#nav ul {
	margin: 5px;
	padding: 5px;
	list-style: none;
	display: block;
}

#nav ul a {
	display: block;
	color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

a.szkolenie_link {
	background: #9DD122;
}

a.szkolenie_link:hover {
	background: #83BA00;
}

#content {
	float: left;
	position: absolute;
	left: 220px;
}

form .field {
	padding: 5px 0 5px 0;
	display: block;
}

form .field:nth-child(odd) {
	background-color: lightblue;
}

#szkolenieform .field:nth-child(odd) {
	background-color: #9DD122;
}

form textarea {
	width: 600px;
	min-height: 150px;
	resize: vertical;
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	/*width:auto;       set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form select {
	margin:5px 0 0 10px;
}

form input {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;     /*  set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}


textarea { overflow: auto; }

tr.hover {
	text-decoration: underline;
	cursor: pointer;
   /* whatever other hover styles you want */
}