/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



.odd .c1 {
 	background: #e0fac7;
 }

.even .c1 {
 	background: #f2ffe5;
 }

.szkolenie {
	background: #528e1a;
	color: #111;
	padding: 5px 5px;
	width: 800px;
	border: 1px solid #222;
	margin: 8px auto;
}

.szkolenie > ul > li { 
	list-style: none;
	float: left;
}

.szkolenie > ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	font: 20px Verdana;
	color: #FFF;
	background: #3a670f;
}

.szkolenie > ul a:hover {
	color: #FFF;
	background: #2a3c18;
}

.szkolenie > ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: #f2ffe5;
	border-bottom: 1px solid #f2ffe5;
	cursor: default;
}

.szkolenie div {
	padding: 10px 10px 8px 10px;
	*padding-top: 3px;
	*margin-top: -15px;
	clear: left;
	background: #f2ffe5;
}

.szkolenie div a {
	color: #000;
	font-weight: bold;
}

form fieldset legend {
	font-size: 2em;
	font-weight: bold;
}

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  font:100% verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
  min-width: 800px;
  width: 560px; 
}

form fieldset {
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 0;
}

form label { 
	display: inline-block;  /* block float the labels to left column, set a width */
	float: left; 	
	padding: 5px 0 5px 0;
	/*margin: 5px 0 5px 0;*/
	width: 150px;  /* set top margin same as form input - textarea etc. elements */
	text-align: right; 
}

#nav {
	display: block;
	float: left;
	width:150px;
	position: fixed;
	overflow-y: auto;
}

#nav ul {
	margin: 5px;
	padding: 5px;
	list-style: none;
	display: block;
}

#content {
	float: left;
	position: absolute;
	left: 160px;
}

form .field {
	padding: 5px 0 5px 0;
	display: block;
}
form .field:nth-child(odd) {
	background-color: lightblue;
}
form textarea {
	width: 600px;
	min-height: 150px;
	resize: vertical;
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	/*width:auto;       set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form input {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;     /*  set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}


textarea { overflow: auto; }

tr.hover {
	text-decoration: underline;
	cursor: pointer;
   /* whatever other hover styles you want */
}