/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

#footer {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#nav {
	position: fixed;
	left: 50%;
	right: 50%;
	top: 0px;
	height: 140px;
	width: 1000px;
	margin-left: -500px;
	overflow: hidden;
	background-color: white;
	z-index: 1;
}

#nav h2 {
	font-family: 'Segoe Print';	
	text-align: center;
}

#nav ul {
	margin-right: auto;
	margin-left: auto;
	width: 820px;
	list-style: none;
}
#nav ul a.przycisk {
	font-family: 'Segoe Print';
	text-transform: uppercase;
	font-size: 1.2em;
	height: 87px;
	line-height: 5.5;
	font-weight: bold;
}

#nav ul a {
	text-align: center;
	display: inline-block;
	color: #333333;
	line-height: 2;
	font-weight: bold;
	text-decoration: none;
    height: 30px;
    width: 256px;
}

#nav ul > li {
	display: inline;
}

#nav2 {
	position: fixed;
	left: 50%;
	right: 50%;
	bottom: 0px;
	height: 70px;
	width: 1000px;
	margin-left: -500px;
	overflow: hidden;
	background-color: white;
	z-index: 1;
}

#nav2 ul {
	list-style: none;
}

#nav2 ul a {
	text-align: center;
	display: inline-block;
	color: #333333;
	line-height: 2;
	font-weight: bold;
	text-decoration: none;
}

#nav2 ul a.sbutton:hover {
	background-color: lightblue;
}

#nav2 ul > li {
	display: inline;
}

#nav2 p {
	text-align: center;
}

#content {
	width: 1000px;
	margin-left: -500px;
	overflow: auto;
	left: 50%;
	right: 50%;
	top: 140px;
	position: absolute;
}

table td a:visited {
	color: #000;
}

div a:visited {
	color: #000;
}

table {
	width: inherit;
}

table.normal {
	table-layout: fixed;
    border-spacing: 0;
}

.normal th, td {
	border: 1px solid;
}

form fieldset legend {
	font-family: 'Segoe Print';
	font-size: 2em;
	font-weight: bold;
}

form {
	font: 100% verdana,arial,sans-serif;
	width: 80%;
	margin: 0px auto 0px auto;
}

form fieldset {
	border-color: #000;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
	margin: 0;
}


form label { 
	display: inline-block; 
	float: left; 	
	padding: 5px 0 5px 0;
	width: 150px;
	text-align: right; 
}


h2 > a:hover {
	color: white;
}

form .field {
	padding: 5px 0 5px 0;
	display: block;
}

form .field:nth-child(odd) {
	background-color: lightblue;
}


form textarea {
	width: 600px;
	min-height: 150px;
	resize: vertical;
	margin: 5px 0 0 10px;
}

form select {
	margin:5px 0 0 10px;
}

form input {
	width: auto;
	margin: 5px 0 0 10px;
}


textarea { overflow: auto; }

tr.hover {
	text-decoration: underline;
	cursor: pointer;
   /* whatever other hover styles you want */
}