/* 
style dla szkoleń 
*/

/*
kolory dla szkoleń
83BA00
759C1A
648F00
9DD122
A5D13E
*/

a.szkolenie_link {
	background: #9DD122;
}

a.szkolenie_link:hover {
	background: #83BA00;
}

table.szkolenia .odd {
 	background: #A5D13E;
}

table.szkolenia .even {
 	background: #83BA00;
}

table.szkolenia {
	border: 1px solid #648F00;
    table-layout: fixed;
    border-spacing: 0;
    margin-top: 10px;
}

table.szkolenia thead {
	background-color: #648F00;
	color: #fff;
	border-color: #9DD122!important;
}

table.szkolenia th,	 td {	
	width: 200px;
}
table.szkolenia td {	
	border: 1px solid #648F00;	
}

table.szkolenia th {
	border: 1px solid #83BA00;	
}
table.szkolenia td a:hover {
	color: #fff;
	background-color: green;
}

a.szkolenie_link_block {
	background: #9DD122;
	padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

a.szkolenie_link_block:hover {
	background: #83BA00;
	color: black;
}


.szkolenie {
	background: #9DD122;
	color: #111;
	padding: 5px 5px;
	width: 900px;
	border: 1px solid #222;
	margin: 8px auto;
}

.szkolenie > ul > li { 
	list-style: none;
	float: left;
}

.szkolenie > ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	font: 20px Verdana;
	color: #FFF;
	background: #3a670f;
}


.szkolenie > ul.idTabs a:hover {
	color: #FFF;
	background: #2a3c18;
}

.szkolenie > ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: #f2ffe5;
	border-bottom: 1px solid #f2ffe5;
	cursor: default;
}

.szkolenie div {
	padding: 10px 10px 8px 10px;
	*padding-top: 3px;
	*margin-top: -15px;
	clear: left;
	background: #f2ffe5;
}


.szkolenie div a:hover {
	color: #111;
	background-color: #9DD122;
	font-weight: bold;
}

.szkolenie div a {
	color: #000;
	font-weight: bold;
}

form #szkolenieform fieldset {
	border-color: #648F00;
}

#szkolenieform .field:nth-child(odd) {
	background-color: #9DD122;
}