/* 
style dla ustawicznych
*/

/*
kolory dla ustawicznych
D9474E
A35054
8D171D
EC757A
EC9499
*/

#nav a.ustawiczne_link {
	background-image: url('/baza/przyciski_azymut.png');
	background-position: 0px -261px;
}

#nav a.ustawiczne_link:hover {
	background-image: url('/baza/przyciski_azymut.png');
	background-position: 0px -174px;
}

a.ustawiczne_link {
	background: #EC9499;
}

a.ustawiczne_link:hover {
	background: #D9474E;
}

a.ustawiczne_link_block {
	background: #EC9499;
	padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

a.ustawiczne_link_block:hover {
	background: #D9474E;
	color: black;
}

table.kustawiczne .odd {
 	background: #EC9499;
}

table.kustawiczne .even {
 	background: #D9474E;
}

table.kustawiczne {
	border: 1px solid #EC9499;
    table-layout: fixed;
    border-spacing: 0;
    margin-top: 10px;
}

table.kustawiczne thead {
	background-color: #8D171D;
	color: #fff;
	border-color: #9DD122!important;
}

table.kustawiczne td {	
	border: 1px solid #8D171D;	
}

table.kustawiczne th {
	border: 1px solid #D9474E;	
}
table.kustawiczne td a:hover {
	color: #fff;
	background-color: green;
}


.ustawiczne {
	background: #8D171D;
	color: #111;
	padding: 5px 5px;
	width: 900px;
	border: 1px solid #222;
	margin: 8px auto;
}

.ustawiczne > ul > li { 
	list-style: none;
	float: left;
}

.ustawiczne > ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	font: 20px Verdana;
	color: black;
	background: #A35054;
}


.ustawiczne > ul.idTabs a:hover {
	color: #FFF;
	background: #000;
}

.ustawiczne > ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: #EC9499;
	border-bottom: 1px solid #D9474E;
	cursor: default;
}

.ustawiczne div {
	padding: 10px 10px 8px 10px;
	*padding-top: 3px;
	*margin-top: -15px;
	clear: left;
	background: #EC9499;
}


.ustawiczne div a:hover {
	color: #111;
	background-color: #9DD122;
	font-weight: bold;
}

.ustawiczne div a {
	color: #000;
	font-weight: bold;
}

form #ustawiczneform fieldset {
	border-color: #8D171D;
}

#ustawiczneform .field:nth-child(odd) {
	background-color: #D9474E;
}