/* 
style dla studiów wyższych 
*/

/*
kolory dla studiów wyższych
FFDD00
D5BD23
C4AA00
FFE22A
FFE74C
*/

#nav a.ustawiczne_link {
	background-image: url('/baza/przyciski_azymut.png');
	background-position: 0px -261px;
}

#nav a.ustawiczne_link:hover {
	background-image: url('/baza/przyciski_azymut.png');
	background-position: 0px -174px;
}

a.ustawiczne_link {
	background: #FFE74C;
}

a.ustawiczne_link:hover {
	background: #FFDD00;
}

a.ustawiczne_link_block {
	background: #FFE74C;
	padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

a.ustawiczne_link_block:hover {
	background: #FFDD00;
	color: black;
}

table.kustawiczne .odd {
 	background: #FFE74C;
}

table.kustawiczne .even {
 	background: #FFDD00;
}

table.kustawiczne {
	border: 1px solid #FFE74C;
    table-layout: fixed;
    border-spacing: 0;
    margin-top: 10px;
}

table.kustawiczne thead {
	background-color: #C4AA00;
	color: #fff;
	border-color: #9DD122!important;
}

table.kustawiczne td {	
	border: 1px solid #C4AA00;	
}

table.kustawiczne th {
	border: 1px solid #FFDD00;	
}
table.kustawiczne td a:hover {
	color: #fff;
	background-color: green;
}


.ustawiczne {
	background: #C4AA00;
	color: #111;
	padding: 5px 5px;
	width: 900px;
	border: 1px solid #222;
	margin: 8px auto;
}

.ustawiczne > ul > li { 
	list-style: none;
	float: left;
}

.ustawiczne > ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	font: 20px Verdana;
	color: black;
	background: #D5BD23;
}


.ustawiczne > ul.idTabs a:hover {
	color: #FFF;
	background: #000;
}

.ustawiczne > ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: #FFE74C;
	border-bottom: 1px solid #FFDD00;
	cursor: default;
}

.ustawiczne div {
	padding: 10px 10px 8px 10px;
	*padding-top: 3px;
	*margin-top: -15px;
	clear: left;
	background: #FFE74C;
}


.ustawiczne div a:hover {
	color: #111;
	background-color: #9DD122;
	font-weight: bold;
}

.ustawiczne div a {
	color: #000;
	font-weight: bold;
}

form #ustawiczneform fieldset {
	border-color: #C4AA00;
}

#ustawiczneform .field:nth-child(odd) {
	background-color: #FFDD00;
}