/* 
style dla ustawicznych
*/

/*
kolory dla ustawicznych
07BEF1
3A879D
01607B
5CD8FB
9FE7FB
*/

#nav a.ustawiczne_link {
	background-image: url('/baza/przyciski_azymut2.png');
	background-position: 0px -441px;
}

#nav a.ustawiczne_link:hover {
	background-image: url('/baza/przyciski_azymut2.png');
	background-position: 0px -378px;
}

a.ustawiczne_link {
	background: #9FE7FB;
}

a.ustawiczne_link:hover {
	background: #07BEF1;
}

a.ustawiczne_link_block {
	background: #9FE7FB;
	padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

a.ustawiczne_link_block:hover {
	background: #07BEF1;
	color: black;
}

table.kustawiczne .odd {
 	background: #9FE7FB;
}

table.kustawiczne .even {
 	background: #07BEF1;
}

table.kustawiczne {
	border: 1px solid #9FE7FB;
    table-layout: fixed;
    border-spacing: 0;
    margin-top: 10px;
}

table.kustawiczne thead {
	background-color: #01607B;
	color: #fff;
	border-color: #9DD122!important;
}

table.kustawiczne td {	
	border: 1px solid #01607B;	
}

table.kustawiczne th {
	border: 1px solid #07BEF1;	
}
table.kustawiczne td a:hover {
	color: #fff;
	background-color: green;
}


.ustawiczne {
	background: #01607B;
	color: #111;
	padding: 5px 5px;
	width: 900px;
	border: 1px solid #222;
	margin: 8px auto;
}

.ustawiczne > ul > li { 
	list-style: none;
	float: left;
}

.ustawiczne > ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	font: 20px Verdana;
	color: black;
	background: #3A879D;
}


.ustawiczne > ul.idTabs a:hover {
	color: #FFF;
	background: #000;
}

.ustawiczne > ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: #9FE7FB;
	border-bottom: 1px solid #07BEF1;
	cursor: default;
}

.ustawiczne div {
	padding: 10px 10px 8px 10px;
	*padding-top: 3px;
	*margin-top: -15px;
	clear: left;
	background: #9FE7FB;
}


.ustawiczne div a:hover {
	color: #111;
	background-color: #9DD122;
	font-weight: bold;
}

.ustawiczne div a {
	color: #000;
	font-weight: bold;
}

form #ustawiczneform fieldset {
	border-color: #01607B;
}

#ustawiczneform .field:nth-child(odd) {
	background-color: #07BEF1;
}