<h1>Lista trenerów</h1>

<table>
  <thead>
    <tr>
      <th>Imie i nazwisko</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= link_to trainer.name, trainer %></td>
        <td><%= link_to 'Edytuj', edit_trainer_path(trainer) %></td>
        <td><%= link_to 'Usuń', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy trener', new_trainer_path %>
